{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="row my-2 justify-content-sm-center">
        <div class="col-sm-5 p-3">
            <div class="display-4 text-center mb-2">Register with</div>
            <div class="row justify-content-sm-center mt-2">
                <a action="{{ path('hwi_oauth_service_redirect', {'service': 'vk' }) }}" class="w-50">
                    <button class="btn btn-lg btn-primary w-100">
                            <span>vk</span>
                    </button>
                </a>
                <a action="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}" class="w-50">
                    <button class="btn btn-lg btn-primary w-100">
                            <span>google</span>
                    </button>
                </a>
            </div>
        </div>
        <div class="col-sm-5 p-3">
            <div class="display-4 text-center mb-2">Register</div>
                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                    {{ form_row(registrationForm.agreeTerms) }}

                    <button type="submit" class="btn btn-primary btn-lg w-50 m-auto d-block">Register</button>
                {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
