{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="row my-2 justify-content-sm-center">
        <div class="col-sm-5 p-3">
            <div class="display-4 text-center mb-2">Sign in with</div>
            <div class="row justify-content-sm-center mt-2">
                <form action="{{ path('hwi_oauth_service_redirect', {'service': 'vk' }) }}" class="w-50">
                    <button class="btn btn-lg btn-primary w-100">
                            <span>vk</span>
                    </button>
                </form>
                <form action="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}" class="w-50">
                    <button class="btn btn-lg btn-primary w-100">
                            <span>google</span>
                    </button>
                </form>
            </div>
        </div>
        <div class="col-sm-5 p-3">
            <div class="display-4 text-center mb-2">Sign in</div>
            <form action="{{ path('login') }}" method="post">
                <div class="form-floating my-2">
                    <input type="email" id="username" name="_username" value="{{ last_username }}"
                        class="form-control rounded-pill" placeholder="some@mail.ru"/>
                    <label for="username">Email:</label>
                </div>
                <div class="form-floating my-2">
                    <input type="password" id="password" name="_password"
                        class="form-control rounded-pill" placeholder="password"/>
                    <label for="password">Password:</label>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button type="submit" class="btn btn-primary btn-lg w-100 my-2">login</button>
            </form>
        </div>
    </div>
{% endblock %}