{% extends 'bases/base.html.twig' %}

{% block title %}{{ review.title }}{% endblock %}


{% block body %}
    <div class="container">
        <div class="display-5 text-center mb-3">
            {{ review.title }}
        </div>
        <div class="container bg-light py-2 rounded-2 border mb-2">
            <div class="">
                {% if review.author == app.user or is_granted('ROLE_ADMIN') %}
                    <p class="mb-1">
                        <a href="{{ path('review_edit', {'id': review.id})}}" class="link-dark">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.3rem" height="1.3rem" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">
                                <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z"/>
                                <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z"/>
                            </svg>
                        </a>
                    </p>
                {% endif %}
                <p class="mb-1">
                    {{ 'review_author'|trans|u.title }}: 
                    <a href="{{ path('user_page', {'id': review.author.id}) }}" class="link-dark">
                        {{ review.author }}
                    </a>
                </p>
                <p class="mb-1">
                    {{ 'review_group'|trans|u.title }}: {{ review.group.name | trans }}
                </p>
                <p class="mb-1">{{ 'review_author_rating'|trans|u.title }}: {{ review.authorRating }}/10</p>
                <p class="mb-1">
                    {{ 'review_community_rating'|trans|u.title }}:
                    <span class="review-rating-value">
                        {{ review.AverageRating }}
                    </span>
                </p>
                <p class="mb-1">
                    {{ 'review_likes'|trans|u.title }}: 
                    <span class="review-likes-count">
                        {{ review.likes.count }}
                    </span>
                </p>
            </div>
        </div>
        <div class="fs-4 container border border-2 p-2 rounded-2 bg-light">
            {% if review.illustrations.count > 0 %}
                <div class="carousel slide carousel-dark bg-white p-2 rounded-2 border border-2" id="review-carousel" data-bs-ride="carousel">
                    <div class="carousel-inner h-25">
                        {% for illustration in review.illustrations %}
                            <div class="carousel-item h-25 {% if loop.first %}active{% endif %}">
                                <div class="d-flex align-items-center h-25">
                                    <img src="https://res.cloudinary.com/ht74ky0yv/image/upload/v1638384344/{{ illustration.img }}"
                                        class="d-flex carousel-img-size mx-auto align-self-center mw-100 mh-100">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% if review.illustrations.count > 1 %}
                        <button class="carousel-control-prev" type="button" data-bs-target="#review-carousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon text-secondary" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#review-carousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon text-secondary" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    {% endif %}
                </div>
            {% endif %}
            <div class="border rounded-2 bg-white my-2 p-1">
                {{ review.text|striptags|markdown_to_html}}
            </div>
            <div class="fs-6">
                {{ 'review_tags'|trans }}: 
                {% for tag in review.tags %}
                    <a href="{{ path('review_tag', {'tagName': tag}) }}" 
                        class="btn btn-primary btn-sm text-white">
                        {{ tag }}
                    </a>
                {% endfor %}
                <div class="col text-end text-secondary">
                    {{ review.dateOfPublication | format_datetime('medium', 'short', locale=app.request.locale) }}
                </div>
            </div>
        </div>
        {% if is_granted('ROLE_USER') %}
            <div class="container">
                <div class="my-2 row">
                    <div class="col-2">
                        <button class="review-like-button btn {{ isLiked ? 'btn-success' : 'btn-secondary' }}">
                            {{ 'review_button_like'|trans|u.title }}
                        </button>
                    </div>
                    <div class="col">
                        <div class="review-rating-buttons text-end 
                            {{ ratingValue > 0 ? 'appreciated' : '' }}">
                            {% for i in 1..5 %}
                                <button class="btn review-rating-button-{{ i }} {{ (ratingValue >= i) ? 'btn-success' : 'btn-secondary' }}">
                                    {{ i }}
                                </button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="display-6 m-2 text-center">
                {{ 'review_comments'|trans|u.title }}
            </div>
            <div class="border border-2 bg-light p-2 container rounded-2">
                <form>
                    <textarea class="comment-text w-100 form-control" rows="3"></textarea>
                    <button class="add-comment btn btn-primary mx-auto d-block w-50">
                        {{ 'review_button_add_comment'|trans|u.title }}
                    </button>
                </form>
                <div class="scrolling-block comments" scrolling-data-type="comment" scrolling-param="{{ review.id }}"></div>
            </div>
        {% else %}
            <div class="display-6 m-2 text-center">
                {{ 'not_access_for_view_comments'|trans|u.title }}
            </div>
        {% endif %}
    </div>
{% endblock %}