{% extends 'base.html.twig' %}

{% block title %}Create review{% endblock %}

{% block body %}

<div class="display-3 mb-2">
    Create view
</div>
{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.text) }}
    {{ form_row(form.group) }}
    <div class="d-none">
        {{ form_row(form.tags) }}
    </div>
{{ form_end(form) }}

{% endblock %}