{% extends 'base.html.twig' %}

{% block title %}Generator{% endblock %}

{% block filesForPage %}
    
{% endblock %}

{% block body %}
    <a href="{{ path('reviews', {type: 'relevance'}) }}" 
        class="nav-link border rounded-pill bg-primary p2 text-white d-inline-block">
        sort by relevance
    </a>
    <a href="{{ path('reviews', {type: 'rating'}) }}"
        class="nav-link border rounded-pill bg-secondary p2 text-white d-inline-block">
        sort by rating
    </a>
    {% if is_granted('ROLE_USER') %}    
        <a href="{{ path('review_create') }}"
            class="nav-link border rounded-pill bg-success p2 text-white d-inline-block">
            create review
        </a>
    {% endif %}
    {% for review in reviews %}
        <div class="container border border-1 rounded-2 p-2 my-2">
            <div class="display-6 border-bottom">
                {{ review.title }}
            </div>
            <div class="border-bottom py-2 fs-5">
                {{ review.text | markdown_to_html }}
            </div>
            <div class="row">
                <div class="col">
                    {{ review.author.nickname }}
                </div>
                <div class="col text-end">
                    {{ review.dateOfPublication | date('Y-m-d H:m') }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}