{% for review in reviews %}
    <div class="container border border-2 rounded-2 p-2 my-2 bg-light">
        <div class="nav-title">
            <div class="display-6">
                <a href="{{ path('review_id', {'id' : review.id}) }}"
                    class="text-black text-decoration-none">
                    {{ review.title }}
                </a>
            </div>
        </div>
        <div class="text-end nav-link">
            {% if is_granted('ROLE_USER') and app.user.id == review.author.id %}
                <a href="{{ path('review_edit', {'id': review.id}) }}">change</a>
            {% endif %}
        </div>
        <div class="p-2">
            <div class="my-2 fs-5 text-truncate mh-10 text-wrap border bg-white p-1 rounded-2">
                {{ review.text | markdown_to_html }}
            </div>
            <div class="fx-5">
                tags: 
                {% for tag in review.tags %}
                    <a href="{{ path('review_tag', {'tag': tag}) }}" 
                        class="border d-inline-block px-2 bg-primary rounded-2 text-white text-decoration-none py-1">
                        {{ tag }}
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="row text-secondary fs-6">
            <div class="col text-center">
                {{ review.author.nickname }}
            </div>
            <div class="col text-center">
                {{ review.group.name }}
            </div>
            <div class="col text-center">
                {{ review.authorRaiting }}/10
            </div>
            <div class="col text-center">
                {{ review.dateOfPublication | date('Y-m-d H:i', app.request.attributes.get('_locale')) }}
            </div>
        </div>
    </div>
{% endfor %}