{% extends 'bases/base.html.twig' %}

{% block title %}Reviews{% endblock %}

{% block body %}
    {% for type in sortedType %}
        <a href="{{ path('reviews', {type: type } ) }}" 
            class="nav-link border rounded-pill p2 text-white d-inline-block
                {{ (type == selectedSortType) ? 'bg-primary' : 'bg-secondary' }}">
            sort by {{ type }}
        </a>
    {% endfor %}
    {% if is_granted('ROLE_USER') %}    
        <a href="{{ path('review_create') }}"
            class="nav-link border rounded-pill bg-success p2 text-white d-inline-block">
            create review
        </a>
    {% endif %}
    
    <div class="container bg-light p-2 rounded-2 border border-2 my-2">
        <button class="btn btn-primary mx-auto d-block" data-bs-toggle="collapse"
            data-bs-target="#tags" aria-expanded="false" aria-controls="tags">
            Show tags
        </button>
        <div class="collapse my-2" id="tags">
            {% for tag in tags %}
                <a href="{{ path('review_tag', {tagName: tag.name}) }}" 
                    class="border d-inline-block px-2 bg-primary rounded-2 text-white text-decoration-none py-1">
                    {{ tag.name }}    
                </a>
            {% endfor %}
        </div>
    </div>

    {% block scrollingBlock %}{% endblock %}

{% endblock %}