<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Recommendations{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="/css/style.css">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="/js/script.js"></script>
        {% endblock %}
    </head>
    <body>
        <header class="navbar navbar-expand-md navbar-light bg-light mb-2">
            <nav class="container-xxl flex-wrap flex-md-nowrap">
                <a href="{{ path('reviews') }}" class="navbar-brand p-0 me-2">Recommendations</a>
                <ul class="nav nav-pills">
                    {% if(is_granted('ROLE_USER')) %}
                        <li class="nav-item">
                            <a href="#" class="nav-link border py-2 px-3 rounded-pill bg-primary text-white">
                                {{ app.user.nickname }}
                            </a>
                        </li>
                        <li class="nav-item"><a href="{{ path('app_logout') }}" class="nav-link">Logout</a></li>
                    {% else %}
                        <li class="nav-item"><a href="{{ path('app_login') }}" class="nav-link">Auth</a></li>
                        <li class="nav-item"><a href="{{ path('app_register') }}" class="nav-link">Registration</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <div class="container-md">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
