<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="navbar navbar-expand-md navbar-light bg-light mb-2">
            <nav class="container-xxl flex-wrap flex-md-nowrap">
                <a href="{{ path('main') }}" class="navbar-brand p-0 me-2">Recommendations</a>
                <div class="collapse navbar-collapse">
                    {# <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-2 py-md-0">
                        <li class="navbar-item"><a href="{{ path('main') }}" class="nav-link">Home</a></li>
                    </ul> #}
                    <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
                        {% if(is_granted('ROLE_USER')) %}
                            <li class="navbar-item"><a href="{{ path('app_logout') }}" class="nav-link">Logout</a></li>
                        {% else %}
                            <li class="navbar-item"><a href="{{ path('login') }}" class="nav-link">Auth</a></li>
                            <li class="navbar-item"><a href="{{ path('app_register') }}" class="nav-link">Registration</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
        <div class="container-md">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
